@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana;
  font-size: 10px;
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 5px;
  }
}

/* custom slider for student review section */

[type="radio"] {
  display: none;
}

#slider {
  height: 24vw;
  width: 60vw;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  background-color: aliceblue;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  transform: translate3d(-50%, 0, -280px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  transform: translate3d(50%, 0, -280px);
}
